#autoupdate {
	display: block;
	margin: 25px 60px auto;
}
#lobby {
	margin: 30px 25px auto;
	overflow: auto;
	white-space: nowrap;
	padding: 25px;
}
.table {
	background-color: rgb(90, 63, 8);
	padding: 10px;
	display: inline-block;
	width: auto;
	margin: 0px 10px;
	border-radius: 10px;
	color: white;
	max-width: 188px;
	/*transition: transform .3s;*/
}
.table.removed {
	display: none;
}
/*.table:hover {
	transform: scale(1.1);
}*/
.table:last-child {
	margin-right: 25px;
}
.table header {
	white-space: normal;
	margin-bottom: 10px;
}
.table__seats {
	margin: 0px;
	list-style: none;
	overflow: hidden;
}
.table__seat {
	margin: 0px 5px;
	float: left;
	opacity: .3;
}
.table__seat.taken {
	opacity: 1;
}
.table__seat:nth-child(7) {
	clear: left;
}



.table__remove {
	color: inherit;
	padding: 5px 20px;
	margin: 10px auto 0;
	line-height: 1;
	display: block;
}