<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>EG Test Assignment</title>
	
	<meta name="author" content="Philipp Baranovskiy <philipp.b@ya.ru>">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/skeleton.css">
	<link rel="stylesheet" href="css/app.css">
	
	<link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>
	<!-- Primary Page Layout -->
		<label id="autoupdate">
			<input type="checkbox" id="autoupdate__option" checked />
			Autoupdate
		</label>
		<div id="lobby">Tables are loading…</div>

		<script id="template-table" type="text/x-handlebars-template">
			{{#each tables}}
				<figure class="table" id="{{id}}">
					<header>
						{{id}}:<br>
						{{name}}
					</header>
					<ul class="table__seats">
						{{#seats participants}}{{/seats}}
					</ul>
					<button class="table__remove">Remove this table</button>
				</figure>
			{{/each}}
		</script>


	<!-- vendor's scripts -->
		<script src="js/handlebars-v4.0.5.js"></script>
		
	<!-- app's scripts -->
		<script src="js/handlebars.helpers.js"></script>
		
		<script src="js/app.render.js"></script>
		<script src="js/app.notifier.js"></script>
		<script src="app.js" onload="APP.init();"></script>
</body>
</html>
